html{
    padding: 0;
    margin: 0;
    font: 400 1rem/1.5 sans-serif;
}
body {
    padding: 0 5% 5%;
    margin: 0;
    background: #000;
}
ol,ul {
    color: #000;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
/* li {
    transform: scale(.999);
}
li:hover {
    transform: scale(3.02);
    z-index: 2;
} */
li {
    align-content: center;
    align-items: center;
    background: var(--color);
    border: 1px solid var(--color);
    display: flex;
    flex-grow: 1;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
    padding:  0;
    position: relative;
    text-align: center;
    transition: transform .1s .2s;
    width: 10em;
}
li > * {
    position: absolute;
}
li::before {
    content: '';
    display: block;
    padding: 50% 0;
    width: 100%;
}
h1 {
    color: #fff;
}
a {
    font-weight: 800;
    color: #fff;
}
b {
    font-weight: 400;
}

h1 {
    background: #000;
    position: sticky;
    padding: 5% 0 0;
    top: 0;
    margin: 0;
    line-height: 2;
    z-index: 10;
    border-bottom: 1em solid var(--color);
    box-shadow: rgba(0,0,0,.1) 0 .25rem 2rem;
}